
<!-- <button mat-raised-button color="primary">Hello World</button> -->

<!--uso de la clase display de material angular-->
<div class="mat-display-4">Este es despliegue nivel 4</div>
<div class="mat-display-3">Este es despliegue nivel 3</div>
<div class="mat-display-2">Este es despliegue nivel 2</div>
<div class="mat-display-1">Este es despliegue nivel 1</div>


<!--tipos de tipografia para encabezados-->
<div class="mat-headline">Este un encabezado nivel 1</div>
<div class="mat-title">Este es un encabezado nivel 2</div>
<div class="mat-subheading-2">Este es un encabezado nivel 3</div>
<div class="mat-subheading-1">Este es un encabezado nivel 4</div>

<!--tipos de tipografias para cuerpo-->
<div class="class-mat-body-1">Este es texto del cuerpo</div>
<div class="mat-body-2">Este es el texto del cuerpo en negrita</div>
<div class="mat-caption">Este es texto de títulos</div>


<!--clase mat-typography-->
<div class="mat-typograpthy">
  <h1>Encabezado nivel 1</h1>
  <h2>Encabezado nivel 2</h2>
  <h3>Encabezado nivel 3</h3>
  <h4>Encabezado nivel 4</h4>
</div>




<router-outlet></router-outlet>